@import './normalize.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// *{border:0.5px solid red !important} // 检查布局问题

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: $color-background;
  color: $color-text;
  width: 100vw;
}

a {
  color: $color-text;
  text-decoration: none;
}

// 隐藏滚动条
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

// 清除浮动
.clearfix{
  zoom: 1;

  &::after{
    clear: both;
    content:'';
    width: 0;
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
  }
}

.float--left{
  float: left;
}

.float--right{
  float: right;
}

.space-average{
  display: flex;
  >div{
    flex: 1;
  }
}

.text-ellipsis{
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 覆盖 vant 组件库样式
.van-tabs .van-tabs__line {
  bottom: 20px;
}
